<div class="ui segment" id="<%= id %>">
  <div class="ui active inverted dimmer">
    <div class="ui medium text loader">Loading...</div>
  </div>
  <%= image_tag('pgbouncerhero/short-paragraph.png', class: 'ui wireframe image') %>
  <%= image_tag('pgbouncerhero/short-paragraph.png', class: 'ui wireframe image') %>
</div>
