<div class="px-4 py-6 animate-pulse">
  <div class="space-y-3">
    <div class="h-3 bg-gray-200 rounded w-3/4"></div>
    <div class="h-3 bg-gray-200 rounded w-1/2"></div>
    <div class="h-3 bg-gray-200 rounded w-2/3"></div>
  </div>
</div>
