.ui.horizontal.segments{id: id, style: 'background-color: white !important;'}
  .ui.segment
    - summary = database.summary
    %div
      %i.users.icon
      - number = summary.select { |row| row['list'] == 'users' }.first['items']
      = pluralize(number, 'user')
    %div
      %i.database.icon
      - number = summary.select { |row| row['list'] == 'databases' }.first['items'].to_i - 1 # Removed pgbouncer
      = pluralize(number, 'database')
    %div
      %i.plug.icon
      - number = summary.select { |row| row['list'] == 'pools' }.first['items'].to_i - 1 # Removed pgbouncer
      = pluralize(number, 'pool')
  .ui.segment
    %ul{style: 'margin: 0; padding-left: 5px;'}
      - summary.select{ |row| row.key?(:databases_details) }.first[:databases_details].each do |db|
        %li{style: 'margin: 0; list-style-type: none;'}
          %span
            %i.database.icon
            %strong=db['name']
            .ui.progress.small.success{data:{value: db['current_connections'], total: db['max_connections']}, style: 'float:right; width: 150px; margin-top:4px;'}
              .bar
                .progress
              .label Connections
