.ui.segment{id: id}
  .ui.active.inverted.dimmer
    .ui.medium.text.loader Loading...
  = image_tag('pgbouncerhero/short-paragraph.png', class: 'ui wireframe image')
  = image_tag('pgbouncerhero/short-paragraph.png', class: 'ui wireframe image')
