.ui.active.segment

  %h4.ui.header
    .content Actions

  %button.ui.negative.basic.button Pause
  %button.ui.positive.basic.button Resume
  %button.ui.negative.basic.button Disable
  %button.ui.positive.basic.button Enable
  %button.ui.negative.basic.button Kill
