<div class="ui active segment">
  <h4 class="ui header">
    <div class="content">Actions</div>
  </h4>
  <button class="ui negative basic button">Pause</button>
  <button class="ui positive basic button">Resume</button>
  <button class="ui negative basic button">Disable</button>
  <button class="ui positive basic button">Enable</button>
  <button class="ui negative basic button">Kill</button>
</div>
