<div class="ui active segment">
  <h4 class="ui header">
    <div class="content">Stats</div>
  </h4>
  <table class="ui compact table">
    <thead>
      <tr>
        <% stats.first.keys.each do |key| %>
          <th>
            <%= key.titleize %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% stats.each do |row| %>
        <tr>
          <% row.each do |k,v| %>
            <% if ['total_received', 'total_sent', 'avg_recv', 'avg_sent'].include? k %>
              <td>
                <%= number_to_human_size(v) %>
              </td>
            <% elsif ['total_query_time', 'avg_query'].include? k %>
              <td>
                <%= humanize_ms(v.to_i) %>
              </td>
            <% else %>
              <td>
                <%= v %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
